{% if not hasAccess %}
	{% include "access_denied.html" %}
	{% include "navigation.html" %}
{% else %}
<b>Ticket #{{ ticket_id }} : {{ ticket.Subject }} </b>
<br />
<a href="{{BASE_URL}}ticket/reply/{{ticket_id}}">Reply to this ticket</a>
{% include "navigation.html" %}
{% for history in ticket_history %}
	{% if history.Type == "Correspond" or history.Type == "Create" %}
		<pre>{{ history.Content }}</pre> <br />
		<hr />
	{% endif %}
	{% if history.Type == "Status" %}
		<pre>{{ history.Description }}</pre>
		<br /><hr />
	{% endif %}
{% endfor %}
{% endif %}



